langchain==1.2.10
elevenlabs==2.37.0
pydantic==2.12.5
langchain-community==0.4.1
pydantic-settings==2.13.1
langchain-openai==1.1.10
langchain-huggingface==1.2.1
langdetect==1.0.9
sentence-transformers==5.2.3
faiss-cpu==1.13.2
wikipedia==1.4.0

# audio / UI
av==16.1.0
aiortc==1.14.0
streamlit==1.54.0
streamlit-webrtc==0.64.5
pydub==0.25.1
spitch==1.47.0
PyAudio==0.2.14

