torchvision
langgraph
langgraph-prebuilt
langgraph-checkpoint
langchain
langchain-core
elevenlabs
pydantic
langchain-community
pydantic-settings
langchain-openai
langchain-huggingface
langdetect
sentence-transformers
faiss-cpu
wikipedia

# audio / UI
av
aiortc
streamlit
streamlit-webrtc
pydub
spitch
PyAudio
